.hz-sec {
  padding: 48px;
  display: flex;
  width: 1280px;
}
.hz-mb-32 {
  margin-bottom: 32px;
}
.accordian-header{
  text-align: center;
}
.accordion {
  width: 800px;
  margin: 90px auto;
  color: black;
  background-color: white;
  padding: 45px 45px;
}
.accordion .container {
  position: relative;
  margin: 10px 10px;
}
.accordion .label {
  position: relative;
  padding: 10px 0;
  font-size: 30px;
  color: black;
  cursor: pointer;
}
.accordion .label::before {
  content: '+';
  color: black;
  position: absolute;
  top: 50%;
  right: -5px;
  font-size: 30px;
  transform: translateY(-50%);
}
.accordion .content {
  position: relative;
  background: white;
  height: 0;
  font-size: 20px;
  text-align: justify;
  width: 780px;
  overflow: hidden;
  transition: 0.5s;
}
.accordion .container.active .content {
  width: 100%;
  height: 100%;
}
.accordion .container.active .label::before {
  content: '-';
  font-size: 30px;
}

.accordion hr {
  width: 100;
  margin-left: 0;
  border: 1px solid grey;
}
.hz-video-con {
  width: 50%;
  display: flex;
  align-self: center;
  justify-content: flex-end;

  z-index: 20;
}
.hz-video {
  height: 444px;
  width: 555px;
  margin-right: -50px;
}
.hz-text-con {
  width: 50%;
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 1) 0%,
    rgba(239, 237, 236, 1) 50%,
    rgba(224, 220, 217, 1) 100%
  );
  text-align: center;
  z-index: 10;
  padding: 80px;
}
.hz-title {
  font-size: 32px;
  line-height: 1.2;
  letter-spacing: 0.32px;
}
.hz-paragraph {
  font-family: MaisonNeueBook, "Avenir Light", Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  color: #2c3650;
  padding-left: 24px;
  padding-right: 24px;
}
.hz-subhead {
  text-align: center;
  font-size: 3rem;
}
header {
  font-family: "interstate-condensed", sans-serif;
  margin-top: 5rem;
}

header .hz-header-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/aboutus/banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 0.8rem 4rem;
  margin: 1rem;
  /* border-radius: 1rem; */
  background-position: left;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}
font {
  color: #ffa601;
}
header .hz-text-title {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

header .hz-text-desc {
  color: #e0dcd9;
  text-transform: none;
  font-size: 1.5rem;
}
.hz-table-con {
  width: 70%;
  margin: 0 auto;
}
.hz-table-con thead tr {
  background-color: #444;
  color: #eee;
  font-size: 2rem;
  margin-top: 490px;
}
.hz-table-con tbody tr:nth-of-type(even) {
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 1) 0%,
    rgba(239, 237, 236, 1) 50%,
    rgba(224, 220, 217, 1) 100%
  );
}
.hz-table-con th,
table td {
  padding: 5px;
  text-align: center;
}
.hz-subhead-que {
  text-align: center;
  font-size: 40px;
  margin-top: 50px;
}
.hz-para {
  text-align: center;
  font-size: 20px;
  font-family: "Archivo", sans-serif !important;
}
.hz-que-head {
  margin-top: 0;
}
.hz-que-head a {
  color: #444;
  padding: 15px;
  text-decoration: none;
  display: block;
  cursor: pointer;
  background: linear-gradient(
    90deg,
    rgba(243, 243, 243, 1) 0%,
    rgba(239, 237, 236, 1) 50%,
    rgba(224, 220, 217, 1) 100%
  );
  font-size: 20px;
  line-height: 28px;
}
.hz-fa-plus {
  width: 20px;
  height: 20px;
  margin-top: 8px;
  margin-right: 10px;
}
.hz-wrapper-que {
  padding: 48px;
  padding-left: 144px !important;
  padding-right: 144px !important;
}

@media screen and (max-width: 1024px) {
  header {
    margin-top: 9.5rem;
  }

  .hz-sec {
    width: 100%;
    flex-direction: column;
  }

  .hz-video-con {
    width: 100%;
    display: block;
  }

  .hz-video-con .hz-video {
    width: 100%;
    margin-right: auto;
  }

  .hz-text-con {
    width: 100%;
  }

  .p1 {
    padding: 1.8rem 1rem;
  }

  .hz-text-l {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
