header {
  font-family: "interstate-condensed", sans-serif;
  margin-top: 5rem;
}

header .hz-header-wrapper {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/contactus/contact_banner.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 85vh;
  padding: 0.8rem 4rem;
  margin: 1rem;
  /* border-radius: 1rem; */
  background-position: left;
  display: grid;
  grid-template-rows: 2fr 1fr 1fr;
}
font {
  color: #ffa601;
}
header .hz-text-title {
  font-size: 5rem;
  text-align: center;
  color: #fff;
}

header .hz-text-desc {
  color: #e0dcd9;
  text-transform: none;
  font-size: 1.5rem;
}
.hz-subhead {
  text-align: center;
  font-size: 3rem;
}
.hz-sec-1 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0.8rem 8rem;
}
aside {
  display: block;
}
.right-container {
  display: grid;
  gap: 1rem;
}
.hz-star {
  color: red;
}
.hz-label {
  font-size: 1.5rem;
}
.hz-input {
  width: 100%;
  display: block;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.hz-col-md {
  flex: 0 0 50%;
  max-width: 50%;
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.hz-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #1f1f1f;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5rem;
  border: none;
  cursor: pointer;
  font-size: 1.2rem;
  margin-left: 40%;
  margin-top: 10%;
}
.hz-pd-32 {
  padding: 32px;
}
.hz-btn:hover {
  color: #1f1f1f;
  background-color: #fff;
  border: 2px solid #1f1f1f;
}
.hz-h3 {
  text-align: left;
  font-size: 40px;
  margin-top: 50px;
}
.hz-address {
  font-size: 1.5rem;
}
.hz-h4 {
  font-size: 1.5rem;
}

@media screen and (max-width: 1024px) {
  header {
    margin-top: 9.5rem;
  }

  .hz-sec {
    width: 100%;
    flex-direction: column;
  }

  .hz-video-con {
    width: 100%;
    display: block;
  }

  .hz-video-con .hz-video {
    width: 100%;
    margin-right: auto;
  }

  .hz-text-con {
    width: 100%;
  }

  .p1 {
    padding: 1.8rem 1rem;
  }

  .am-text-l {
    margin-top: 10px;
    margin-bottom: 0px;
  }
}
