.hz-info .hz-logo-wrapper .hz-logo-link {
  text-align: center;
  display: flex;
  align-items: center;
  color: #fff;
}

.hz-info {
  display: flex;
  justify-content: space-evenly;
  padding: 5rem 4rem;
  background: #000;
  color: #fff;
}

.hz-info .hz-left-side > h2,
.hz-right-side > h2 {
  color: #ffa601;
}

.hz-info .hz-left-side ul li > a,
.hz-right-side > h3,
.hz-right-side h3 > a {
  color: #e0dcd9;
}

.hz-right-side h3 > a {
  font-size: 1.17em;
  line-height: 26px;
  font-weight: bold;
}



footer .hz-left {
  padding: 0;
}

footer #copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222222;
}

footer #copyright a,
#copyright h3,
#copyright span {
  color: #fff;
}

/*
  TABLET VIEW
  On screens that are 1024px or less, tablet devices  
*/
@media screen and (max-width: 1024px) {
}

/* 
  MOBILE VIEW
  On screens that are 760px or less, mobile devices 
*/
@media screen and (max-width: 760px) {
  .hz-info {
    display: flex;
    flex-direction: column;
    padding: 2rem 1rem;
  }

  .hz-left-side,
  .hz-right-side {
    text-align: center;
  }
}
