/* INITIALIZE CSS */
body {
  margin: 0;
  padding: 0;
  font-family: "interstate-condensed", sans-serif;
  color: #1f1f1f;
}

*,
::after,
::before {
  box-sizing: border-box;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: #686868;
}

.hz-bg-dark {
  background-color: #000;
  color: #fff;
}

.hz-mt {
  margin-top: 0.5rem;
}

.hz-mt-1 {
  margin-top: 1rem;
}

.hz-mb {
  margin-bottom: 0.5rem;
}

.hz-mb-2 {
  margin-bottom: 2rem;
}

.hz-m-0 {
  margin: 0px;
}

.hz-m-2 {
  margin: 2rem;
}

.hz-bg-white {
  background-color: #fff;
}

.hz-shadow {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hz-btn-primary {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: #c40323 ;
  width: 7rem;
  height: 2.5rem;
  border-radius: 5rem;
  border: none;
  margin-top: 8rem;
  cursor: pointer;
  font-size: 1.2rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.hz-btn-primary:hover {
  color: #1f1f1f;
  background-color: #fff;
  font-size: 1.5rem;
  border: 1px solid;
}

.hz-text-xl {
  font-size: 5rem;
}

.hz-text-l {
  font-size: 3rem;
}

.hz-text-md {
  font-size: 2.5rem;
}

.hz-text-sm {
  font-size: 1.5rem;
}

.hz-text-xs {
  font-size: 0.5rem;
}

.hz-text-gray {
  color: #cfcfcf;
}

.b-btn {
  border: 1px solid #1f1f1f;
  padding: 4px 6px;
  border-radius: 50rem;
  color: #fff;
  background-color: #1f1f1f;
}

.b-btn:hover {
  color: #1f1f1f;
  background-color: transparent;
}

.hz-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hz-text-center {
  text-align: center;
}

.hz-w-100 {
  width: 100%;
}

.text-red {
  color: #c40323;
}

.hz-br-1 {
  border-radius: 1rem;
}

.hz-br-b-1 {
  border-radius: 0px 0px 1rem 1rem;
}

.hz-pointer {
  cursor: pointer;
}

.p-1 {
  padding: 10px;
}

.b-btn.btn-danger {
  background-color: #ffa601;
}
